{% extends 'layout.html' %}

{% block projectname %} Dashboard {% endblock projectname %}


{% block content %}


{% if username == "NOT_SET" %}
    <p>You must be logged in to see this page. </p>
{% else %}
    <!-- the code for displaying the user dashboard goes here -->
    <p>{{ user.f_name }}, welcome to the user dashboard!</p>
 {% if hasgroup == "TRUE" %}
    {% for group in user.members  %}
        {% if group.id != 0 %}
            <div class="jumbotron" style="padding: 1%">
                <input type="hidden" class="group_id" id="group_{{ group.id }}" value="{{ group.id }}">

                <div class="col-md-8"><h4 style="text-align: left">{{group.name}}</h4></div>

                <div class="row" style="padding: 2%">
                    <div class="col-md-4">     </div>
                </div>

                <div class="row">
                    <div class="col-md-8"><h6 style="text-align: left">{{group.description}}</h6></div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4"><h6 style="text-align: left">Members:</h6></div>
                </div>

                {% for member in group.subscribers %}
                <div class="row">
                    <div class="col-md-3"><p style="text-align: left">{{member.f_name}}</p> </div>
                    <div class="col-md-3"><p style="text-align: left">{{member.l_name}}</p> </div>
                    <div class="col-md-3"><p style="text-align: left">{{member.username}}</p> </div>
                    <div class="col-md-3"><p style="text-align: left">{{member.email}}</p> </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
     {% else %}
     <p>You don't have a group. Would you like to <a href="/create_group/">create one?</a></p>
 {% endif %}

{% endif %}

<!-- creating a new element that can be modified by reactJS -->
<div class="container" id = 'reactContainer'>

</div>

<script type="application/javascript">
    $(".jumbotron").click(function () {
        var gid = $(this).find(".group_id");
        //alert(gid.val());
        window.location.href = "/group_detail/"+gid.val();

    });
</script>

{% endblock %}